{block content}

<div class="page">
    <div class="half_part_2">
        <div class="posun">
            <div class="text_coming">
                <h1 n:block="title">Cafe Bar & Coctails & Bowling</h1>
                <h2>Valašské Meziříči</h2>
            </div>
            <div class="text_coming_2">
                <p>Stránku připravujeme!</p>
            </div>
        </div>
    </div>
</div>

{/block}