{*
 - @author Jan Kotrba <jan.kotrbaa@gmail.com>
 - @date 18:22, 7. 4. 2015
*}
{block head}{/block}

{block nav_presenter}Top 3{/block}
{block nav_action}{/block}
{block content}
	Lorem ipsum
{/block}

{block script}{/block}