{block title}Vítejte{/block}
{block content}
<div class="container">
    <div class="part_one">
        <div class="logo_block">
            <h1><span class="word_l">L</span><span class="word_a">a</span><span class="vida">VIDA</span><span class="cubana">Cubana</span></h1>
            <p>~ Cafe Bar & Coctails ~</p>
        </div>
    </div>
    <div class="part_two">
        <div class="roznov_block">
            <div class="news_roznov">
            {control mainNewsRoznov}
            </div>
            <a n:href="Roznov:default" class="explorer">
                <div class="heading_text">
                    <h3>Cafe bar & Coctails</h3>
                    <p>Rožnov pod Radhoštěm</p>
                    <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAACXBIWXMAAAoDAAAKAwHuO+1RAAAAIGNIUk0AAHolAACAgQAA+9gAAIRXAAB0KAAA8RkAADkyAAAXKchNTIgAAAGxSURBVHjazFc7bgIxFNxiBShJzwUoaOgmUorNR5qKLgVFJG6CRM0NEBQRt4jSJURcYCokpG04wQYukOYtIWiR1jaELdxYfjNjv+d5dpSmaVRmiKiL6IqYiJiLWInY2ljZ3MTW1MviliFuihiL2IhYihiJ6IlIRLRsJDY3sjUbi2l6CxBREzEUkYmYiWg7nFbbYjLDqDkJsF0v7Fg7ZYkLcDqGsTh2GseC1iKmImJf8j282LDWRZsp2vlaxCCUuEDIwLCbhQIs5wsR01OT73FMjaNWJGBo+YrPKCA2juEfAXb0WUjBORZmlqcinxyLmJ2bfE/ETMQ4TdMod7iN4z3vi3gTceUpoG2c9cisc+kI0BDxLuIjQMRSRDcy/x55AOQiPkVce8SPREwiq8qe5y5yEXNXEdY75pF1siSgoHIRXyJuHOISEavI2mkrsKobZjCvDjEtEdtTCbi3u/3iIyA0BQ8ivkX0HeN2KQgpwkcf8sMi9L2GT2YmfU/xu2voY0S3IeSHRuRjxXcingPIf6344s2oEu344g+SSjzJLv4orcSzvBIfk0p8zSrxOf2v7/nPAF+Zh55qcBrEAAAAAElFTkSuQmCC" alt="" class="arrow">
                </div>
            </a>
        </div>
        <div class="valmez_block">
            <div class="news_valmez">
            {control mainNewsValmez}
            </div>
            <a n:href="Valmez:default" class="explorer">
                <div class="heading_text">
                    <h3>Cafe bar & Coctails</h3>
                    <p>Valašské Meziříčí</p>
                    <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAACXBIWXMAAAoDAAAKAwHuO+1RAAAAIGNIUk0AAHolAACAgQAA+9gAAIRXAAB0KAAA8RkAADkyAAAXKchNTIgAAAGFSURBVHjazJc9bsJAEIW3QBgl6bmACzeUkVI4Py1dCopIvgkStW+AoIi4RZQuceQ7ILn0CRxzgC/NM0kQCuyuAx7JjbUz8+bvza4xRwoQAGNgAWRAAWz0Ffq30JnAtCXAEJgDNbAGUmACxECoL9a/VGdq6Qx9HPeBGVABKyCy0I2kU8lG3yXqXGkdeQQxko386GxIqQSWQK+FEvZkqzwYjCIvgalpWYCpbA//qnkOLM0/iTKR7+0JNUvWRtoPlCMDZvtSX/k0nGVjVr9KoZldmROJRnT+k+FqyzlPgBfgwhFAJJ+BEXWuLQ0MgFfgzQPEGhgb8XfqYKAB8Q5cOuinwMKoKyeOUTQgMlsQ2h2Z0SaLPRqqAfEBXFnoxUBhtE5Dz64eiGCeLXRCYNMWgFvN9pMLAN8S3AGfQGKpty2BTxPeuzjfbULXMXwQmSSO4Ldj6EJE1z7Od4nIhYpvgEcP599UfPZl1Il1fPYLSSeuZGe/lHbiWt6Jh0knnmadeJye6nn+NQAh33L4gp36PQAAAABJRU5ErkJggg==" alt="" class="arrow">
                </div>
            </a>
        </div>
        <div class="bowling_block">
            <div class="news_bowling">
            {control mainNewsBowling}
            </div>
            <a n:href="Bowling:default" class="explorer">
                <div class="heading_text">
                    <h3>Bowling</h3>
                    <p>Valašské Meziříčí</p>
                    <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAMAAABEpIrGAAAAA3NCSVQICAjb4U/gAAAACXBIWXMAAAoDAAAKAwHuO+1RAAAAGXRFWHRTb2Z0d2FyZQB3d3cuaW5rc2NhcGUub3Jnm+48GgAAAIpQTFRF////AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHzto8AAAAC50Uk5TAAQGBwgKCwwXJCgtNTg8PT4/QElQVFhben2HlpiZnZ+2uL/AwcLE19ri8PHy8xLV04UAAAD2SURBVDjLhVPbVoQgFN3KVChlF6IZEXMqQiX8/9/rodbIYXSx3w57H84duIBJY6dlmayRDNfgXRi1aqqqUXoMHU/osvVDvZr14NuSuDsrqIewLvpEzH2Rhiz6+eLD59NGUjjN/3+UrscmeveXR2uLbUFhWwDgXmAHwnMA3YBdDB3AQlT/8XxDBHVgkGP0cPj4pIpRwmgQxddtbGsDq0AVNlYoi6lBovi+W61mwlIlmR/c+2pUy7Xg0b8RQRri6ecIEiJJ8pnwUDYp8yUQHtrQRt0nPEZJW/3wSvk6sPyw8uPOLkx+5bJLm1/7/OHkTw/Z4wX2zv8XJDgXzPx6DqsAAAAASUVORK5CYII=" alt="" class="arrow">
                </div>
            </a>
        </div>
    </div>
</div>

{/block}