{block content}

<div class="topLine"></div>

<h1 n:block="title">Vítejte</h1>

<nav>
	<li><a n:href="Roznov:default">Kavárna v Rožnově</a></li>
	<li><a n:href="Valmez:default">Kavárna ve Valmezu</a></li>
	<li><a n:href="Bowling:default">Bowling</a></li>
</nav>

{control welcome}


<footer>
    <p>@ LA VIDA CUBANA | LA.VIDA.CUBANA@GMAIL.COM<br/><a n:href=":Admin:Homepage:default">Vstup do adminu</a></p>
</footer>

{/block}