#RewriteEngine On
#RewriteCond %{HTTP_HOST} zakaznik.kotyslab.cz$
#RewriteRule ^$ /la-vida-cubana/www/$1 [L]
#RewriteCond %{HTTP_HOST} zakaznik.kotyslab.cz$
#RewriteRule (.*) /la-vida-cubana/www/$1 [L]