{*
 - @author Jan Kotrba <jan.kotrbaa@gmail.com>
 - @date 14:37, 16. 2. 2015
 - @copyright 2015 Jan Kotrba
*}
{block head}{/block}

{block nav_presenter}Menu{/block}
{block nav_action}Struktura{/block}
{block content}
	Lorem ipsum
{/block}

{block script}{/block}