parameters:
	cms:
		testovaciHodnota: true

php:
	date.timezone: Europe/Prague

nette:
	application:
		errorPresenter: Error
		mapping:
			*: App\*Module\Presenters\*Presenter

	session:
		expiration: 14 days

services:
	- App\AdminModule\Model\branchManager
	- App\AdminModule\Model\userManager
	- App\AdminModule\Model\modulesManager
	- App\AdminModule\Model\menuManager

	authenticator: App\AdminModule\Model\userAuth
	router: App\RouterFactory::createRouter