parameters:
	cms:
		testovaciHodnota: true

php:
	date.timezone: Europe/Prague

nette:
	application:
		errorPresenter: Error
		mapping:
			*: App\*Module\Presenters\*Presenter

	session:
		expiration: 14 days

services:
	# Admin module
	- App\AdminModule\Model\BranchManager
	- App\AdminModule\Model\UserManager
	- App\AdminModule\Model\MainNewsManager
	- App\AdminModule\Model\IndividualManager
	- App\AdminModule\Model\MysqlExporter
	- App\AdminModule\Model\TeamsManager
	- App\AdminModule\Model\OpenTimeManager
	- App\AdminModule\Model\BowlingPriceManager
	- App\AdminModule\Model\BowlingNewsManager


	# Web
	- App\WebModule\Model\Visitors

	authenticator: App\AdminModule\Model\UserAuth
	router: App\RouterFactory::createRouter