<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="theme-color" content="#30363e">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="description" content="{ifset #description}{include description}{else}Kavárna La VIDA Cubana ve městech Rožnov pod Radhoštěm a Valašské Meziříčí, kde pro vás máme i Bowlingové dráhy.{/ifset}"/>
    <meta name="keywords" content="{ifset #keywords}{include keywords}{else}kavarna, la vida cubana, roznov pod radhostem, valasske mezirici, bowling{/ifset}"/>
    <meta name="author" content="Jan Kotrba, David Janík, Jan Bartoň"/>

	<title>{ifset #title}{include title|striptags} | {/ifset}La VIDA Cubana</title>

    <link rel="stylesheet" media="" href="{$basePath}/Front-end/css/style.css">
    <link rel="stylesheet" media="" href="{$basePath}/Front-end/css/roznov-valmez.css">
	<link rel="shortcut icon" href="{$basePath}/Front-end/img/favicon.ico">

	{block head}{/block}
</head>

<body>
	{include content}
	{block scripts}
	<script src="{$basePath}/Front-end/js/jquery.min.js"></script>
	<script src="{$basePath}/Front-end/js/netteForms.js"></script>
	<script src="{$basePath}/Front-end/js/main.js"></script>
	{/block}
</body>
</html>
