{*
 - @author Jan Kotrba <jan.kotrbaa@gmail.com>
 - @date 1:41, 8. 2. 2015
 - @copyright 2015 Jan Kotrba
*}

{block content}
	Total space: {$totalSpace|bytes}<br/>
	Free space: {$freeSpace|bytes}<br/>
	Used space %: {$percentage|number:2} %<br/>
{/block}