<aside id="sidebar_left" class="nano nano-primary">
	<div class="nano-content">
		<ul class="nav sidebar-menu" n:inner-foreach="$sections as $firstLevelText => $firstLevelTarget">
			<li class="sidebar-label pt15">{$firstLevelText}</li>
			{foreach $firstLevelTarget as $secondLevelText => $secondLevelTarget}
				{* 1.First level *}
				<li n:if="!is_array($secondLevelTarget)"{ifCurrent $secondLevelTarget} class="active"{/ifCurrent}>
					{if $anyData($secondLevelTarget)}
					<a href="{plink $parseLink($secondLevelTarget), $parseData($secondLevelTarget)}">
                    	<span class="glyphicons {$glyph($secondLevelText)}"></span>
                    	<span class="sidebar-title">{$name($secondLevelText)}</span>
                    </a>
					{else}
					<a href="{plink $secondLevelTarget}">
						<span class="glyphicons {$glyph($secondLevelText)}"></span>
						<span class="sidebar-title">{$name($secondLevelText)}</span>
					</a>
					{/if}
				</li>

				{* 2.Second level *}
				<li n:if="is_array($secondLevelTarget)">
					{if $currentLink == $currentWithParams}
					{*} No params {*}
					<a class="accordion-toggle {if $wrapRoute($currentLink) == $wrapRoute($secondLevelTarget)} menu-open{/if}" href="#">
                    	<span class="glyphicons {$glyph($secondLevelText)}"></span>
                    	<span class="sidebar-title">{$name($secondLevelText)}</span>
                    	<span class="caret"></span>
                    </a>
					{else}
					<a class="accordion-toggle {if $currentWithParams == $wrapRouteWithParams($secondLevelTarget)} menu-open{/if}" href="#">
                    	<span class="glyphicons {$glyph($secondLevelText)}"></span>
                    	<span class="sidebar-title">{$name($secondLevelText)}</span>
                    	<span class="caret"></span>
                    </a>
					{/if}

					<ul class="nav sub-nav" n:inner-foreach="$secondLevelTarget as $thirdLevelText => $thirdLevelTarget">
						{* 2.Second level *}
						{if !is_array($thirdLevelTarget)}
							{if $anyData($thirdLevelTarget)}
								<li{if $currentWithParams == $thirdLevelTarget} class="active"{/if}>
								{if $anyData($thirdLevelTarget)}
									<a href="{plink $parseLink($thirdLevelTarget), $parseData($thirdLevelTarget)}"><span class="glyphicons {$glyph($thirdLevelText)}"></span> {$name($thirdLevelText)}</a>
								{else}
									<a href="{plink $thirdLevelTarget}"><span class="glyphicons {$glyph($thirdLevelText)}"></span> {$name($thirdLevelText)}</a>
								{/if}
							</li>
							{else}
								<li{ifCurrent $thirdLevelTarget} class="active"{/ifCurrent}>
									{if $anyData($thirdLevelTarget)}
										<a href="{plink $parseLink($thirdLevelTarget), $parseData($thirdLevelTarget)}"><span class="glyphicons {$glyph($thirdLevelText)}"></span> {$name($thirdLevelText)}</a>
									{else}
										<a href="{plink $thirdLevelTarget}"><span class="glyphicons {$glyph($thirdLevelText)}"></span> {$name($thirdLevelText)}</a>
									{/if}
								</li>
							{/if}

						{elseif is_array($thirdLevelTarget)}
						{* 3.Third level *}
							<li>
								<a class="accordion-toggle{ifCurrent $wrapRoute($secondLevelTarget)} menu-open{/ifCurrent}" href="#">
									<span class="glyphicons {$glyph($thirdLevelText)}"></span> {$name($thirdLevelText)}
									<span class="caret"></span>
								</a>
								<ul class="nav sub-nav sub-two" n:inner-foreach="$thirdLevelTarget as $fourthLevelText => $fourthLevelTarget">
									<li{ifCurrent $fourthLevelTarget} class="active" {/ifCurrent}>
										{if $anyData($fourthLevelTarget)}
                                        	<a href="{plink $parseLink($fourthLevelTarget), $parseData($fourthLevelTarget)}"><span class="glyphicons {$glyph($fourthLevelText)}"></span> {$name($fourthLevelText)} </a>
                                        {else}
                                        	<a href="{plink $fourthLevelTarget}"><span class="glyphicons {$glyph($fourthLevelText)}"></span> {$name($fourthLevelText)} </a>
                                        {/if}
									</li>
								</ul>
							</li>
						{/if}
					</ul>
				</li>
			{/foreach}
		</ul>
	</div>
</aside>