@import url(http://fonts.googleapis.com/css?family=Open+Sans);

$red: #d14334;
$darkGrey: #343333;
$grey: #dddddd;
$font-color:#fff;

@font-face{
  font-family: 'bittersweet';
  src: url("../fonts/Bittersweet%20NF.ttf");
  font-weight: normal;
  font-style: normal;
}

.greybox_table {
  background: url('../img/bowling/texturka3.png');
  width: 100%;
  height: auto;
}

.posun{
  margin-top: 60px;
}

.row_tables{
  background: white;
  width: 100%;
  height: auto;
  padding-bottom: 40px;

  .heading_1{
    width: 100%;

    .table_title{
      padding-top: 20px;
      text-align: center;
      color: $red;
    }

    .table_title_time{
      text-align: center;
      padding-bottom: 20px;
    }
  }

  .heading_2{
    width: 100%;

    .table_title_2{
      padding-top: 20px;
      text-align: center;
      color: $red;
    }

    .table_title_time_2{
      text-align: center;
      padding-bottom: 20px;
    }
  }

  #tabs, #tabs_2, #tabs_3, #tabs_4{
    #tabs-1, #tabs-2, #tabs-3, #tabs-4, #tabs-5, #tabs-6, #tabs-7, #tabs-8, #tabs-9{

      .rozpis_podzim{
        width: 100%;
        color: #696969;

        tr{
          text-align: center;
        }
        td{
          border: 1px dotted #dcdcdc;
          padding: 10px;
        }
      }
      .rozpis_zima{
        width: 100%;
        color: #696969;

        tr{
          text-align: center;
        }
        td{
          border: 1px dotted #dcdcdc;
          padding: 10px;
        }
      }
    }
  }

  #tabs{
    background: white;
    width: 90%;
    height: auto;
    margin: 0 auto;
    display: block;

    border: 1px solid rgba(52, 51, 51, 0.64);

    ul{
      text-decoration: none;
      list-style-type: none;
      display: block;
      outline: none;
      text-align: center;

      background: $darkGrey;

      li{
        display: inline-table;
        padding: 10px;
        outline: none;

        a{
          text-decoration: none;
          color: white;
          outline: none;
        }

        a:hover{
          color: $red;
        }
      }
    }
  }

  #tabs_2{
    background: white;
    width: 90%;
    height: auto;
    margin: 0 auto;
    display: block;

    border: 1px solid rgba(52, 51, 51, 0.64);

    ul{
      text-decoration: none;
      list-style-type: none;
      display: block;
      outline: none;
      text-align: center;

      background: $darkGrey;

      li{
        display: inline-table;
        padding: 10px;
        outline: none;

        a{
          text-decoration: none;
          color: white;
          outline: none;
        }

        a:hover{
          color: $red;
        }
      }
    }
  }

  #tabs_3{
    background: white;
    width: 90%;
    height: auto;
    margin: 0 auto;
    display: block;

    border: 1px solid rgba(52, 51, 51, 0.64);

    ul{
      text-decoration: none;
      list-style-type: none;
      display: block;
      outline: none;
      text-align: center;

      background: $darkGrey;

      li{
        display: inline-table;
        padding: 10px;
        outline: none;

        a{
          text-decoration: none;
          color: white;
          outline: none;
        }

        a:hover{
          color: $red;
        }
      }
    }
  }

  #tabs_4{
    background: white;
    width: 90%;
    height: auto;
    margin: 0 auto;
    display: block;

    border: 1px solid rgba(52, 51, 51, 0.64);

    ul{
      text-decoration: none;
      list-style-type: none;
      display: block;
      outline: none;
      text-align: center;

      background: $darkGrey;

      li{
        display: inline-table;
        padding: 10px;
        outline: none;

        a{
          text-decoration: none;
          color: white;
          outline: none;
        }

        a:hover{
          color: $red;
        }
      }
    }
  }
}