@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@font-face {
  font-family: 'bittersweet';
  src: url("../fonts/Bittersweet%20NF.ttf");
  font-weight: normal;
  font-style: normal; }
::-webkit-scrollbar {
  background: #fff;
  width: 6px;
  height: 6px; }

::-webkit-scrollbar-thumb {
  background: #343333; }

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  outline: none !important; }

* {
  margin: 0;
  padding: 0; }

body {
  background: url("../img/background/4.jpg") no-repeat top;
  background-size: cover;
  font-family: 'Open Sans', sans-serif; }

.section-connection {
  height: 40%;
  min-height: 40%; }

.arrow {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  outline: none !important;
  border: none; }

.arrow:hover {
  opacity: 0.4;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  outline: none !important;
  border: none; }

.roznov-block:hover {
  background: #343333; }

.valmez-block:hover {
  background: #d14334; }

.bowling-block:hover {
  background: #dddddd; }

/*  CONTAINER  */
.container {
  width: 100%;
  height: 100%; }

.explorer {
  outline: none !important;
  border: none; }

/*  SECTION 1 - LOGO  */
.logo-block {
  width: 33.333%;
  height: 60%;
  min-height: 60%;
  background: url("../img/textures/pattern.png") rgba(52, 51, 51, 0.41);
  margin: 0 auto; }
  .logo-block h1 {
    color: white;
    font-family: bittersweet;
    font-size: 5vw;
    letter-spacing: 2px;
    text-align: center;
    text-shadow: 1px 2px black;
    margin: 0;
    padding-top: 210px; }
  .logo-block h2 {
    color: white;
    font-family: bittersweet;
    font-size: 2vw;
    letter-spacing: 2px;
    text-align: center;
    text-shadow: 1px 2px black;
    margin: 0;
    padding-top: 20px; }

/*  SEKCE 2 - ROZNOV */
.roznov-block {
  background: rgba(52, 51, 51, 0.88);
  width: 33.333%;
  height: 100%;
  min-height: 100%;
  float: left;
  transition-property: background;
  transition-duration: 0.6s;
  transition-delay: 0s,0.25s,0.45s,0.7s; }
  .roznov-block h2 {
    font-family: bittersweet;
    font-size: 3.4vw;
    text-align: center;
    color: white;
    margin: 0;
    padding-top: 60px;
    text-shadow: 1px 2px black; }
  .roznov-block p {
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
    text-align: center;
    color: #d14334;
    margin: 0; }
  .roznov-block .roznov-transparent {
    height: auto; }
    .roznov-block .roznov-transparent #current-action-roznov {
      width: 100%;
      height: auto;
      min-height: 100%;
      margin-top: 60px;
      background: #282828; }
      .roznov-block .roznov-transparent #current-action-roznov h3 {
        font-family: 'Open Sans', sans-serif;
        font-size: 1vw;
        padding: 15px;
        color: #d14334;
        text-shadow: none;
        letter-spacing: inherit;
        text-align: center; }

/*  SEKCE 3 - VALMEZ */
.valmez-block {
  background: rgba(209, 67, 52, 0.88);
  width: 33.333%;
  height: 100%;
  min-height: 100%;
  float: left;
  transition-property: background;
  transition-duration: 0.6s;
  transition-delay: 0s,0.25s,0.45s,0.7s; }
  .valmez-block h2 {
    font-family: bittersweet;
    font-size: 3.4vw;
    text-align: center;
    color: white;
    margin: 0;
    padding-top: 60px;
    text-shadow: 1px 2px black; }
  .valmez-block p {
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
    text-align: center;
    color: white;
    margin: 0; }
  .valmez-block .valmez-transparent {
    height: auto; }
    .valmez-block .valmez-transparent #current-action-valmez {
      width: 100%;
      height: auto;
      min-height: 100%;
      margin-top: 60px;
      background: #b0382d; }
      .valmez-block .valmez-transparent #current-action-valmez h3 {
        font-family: 'Open Sans', sans-serif;
        font-size: 1vw;
        padding: 15px;
        color: white;
        text-shadow: none;
        letter-spacing: inherit;
        text-align: center; }

/*  SEKCE 4 - BOWLING */
.bowling-block {
  background: rgba(191, 191, 191, 0.88);
  width: 33.333%;
  height: 100%;
  min-height: 100%;
  float: left;
  transition-property: background;
  transition-duration: 0.6s;
  transition-delay: 0s,0.25s,0.45s,0.7s; }
  .bowling-block h2 {
    font-family: bittersweet;
    font-size: 3.4vw;
    text-align: center;
    color: white;
    margin: 0;
    padding-top: 60px;
    letter-spacing: 3px;
    text-shadow: 1px 2px black; }
  .bowling-block p {
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
    text-align: center;
    color: #343333;
    margin: 0; }
  .bowling-block .bowling-transparent {
    height: auto; }
    .bowling-block .bowling-transparent #current-action-bowling {
      width: 100%;
      height: auto;
      min-height: 100%;
      margin-top: 60px;
      background: #cdcdcd; }
      .bowling-block .bowling-transparent #current-action-bowling h3 {
        font-family: 'Open Sans', sans-serif;
        font-size: 1vw;
        padding: 15px;
        color: #343333;
        text-shadow: none;
        letter-spacing: inherit;
        text-align: center; }

/*  MEDIA QUERIES - TY RESPONSIVY  */
@media screen and (max-width: 980px) {
  body {
    font-size: 1em; }

  .logo-block {
    width: 100%;
    height: 400px; }
    .logo-block h1 {
      font-size: 9vw; }
    .logo-block h2 {
      font-size: 7vw; }

  .roznov-block {
    width: 50%; }
    .roznov-block .roznov-transparent #current-action-roznov h3 {
      font-size: 2vw; }

  .valmez-block {
    width: 50%; }
    .valmez-block .valmez-transparent #current-action-valmez h3 {
      font-size: 2vw; }

  .bowling-block {
    width: 100%;
    float: left; }
    .bowling-block .bowling-transparent #current-action-bowling h3 {
      font-size: 2vw; }

  .roznov-transparent h2 {
    font-size: 3em; }

  .valmez-transparent h2 {
    font-size: 3em; }

  .bowling-transparent h2 {
    font-size: 3em; } }
@media screen and (max-width: 600px) {
  .logo-block {
    width: 100%; }
    .logo-block h1 {
      font-size: 13vw; }
    .logo-block h2 {
      font-size: 8vw; }

  .roznov-block {
    width: 100%; }
    .roznov-block h2 {
      font-size: 10vw; }
    .roznov-block .roznov-transparent #current-action-roznov h3 {
      font-size: 3vw; }

  .valmez-block {
    width: 100%; }
    .valmez-block h2 {
      font-size: 10vw; }
    .valmez-block .valmez-transparent #current-action-valmez h3 {
      font-size: 3vw; }

  .bowling-block {
    width: 100%;
    float: left; }
    .bowling-block h2 {
      font-size: 10vw; }
    .bowling-block .bowling-transparent #current-action-bowling h3 {
      font-size: 3vw; } }
@media screen and (max-height: 768px) {
  .logo-block h1 {
    padding-top: 130px; }

  .roznov-block h2 {
    padding-top: 20px;
    font-size: 2.7vw;
    letter-spacing: 5px; }
  .roznov-block p {
    font-size: 1.3vw; }

  .valmez-block h2 {
    padding-top: 20px;
    font-size: 2.7vw;
    letter-spacing: 5px; }
  .valmez-block p {
    font-size: 1.3vw; }

  .bowling-block h2 {
    padding-top: 20px;
    font-size: 2.7vw;
    letter-spacing: 5px; }
  .bowling-block p {
    font-size: 1.3vw; } }

/*# sourceMappingURL=style.css.map */
