@import url(http://fonts.googleapis.com/css?family=Open+Sans);

$red: #d14334;
$darkGrey: #343333;
$grey: #dddddd;
$font-color:#fff;

@font-face{
  font-family: 'bittersweet';
  src: url("../fonts/Bittersweet%20NF.ttf");
  font-weight: normal;
  font-style: normal;
}

::-webkit-scrollbar{
  width: 12px;
}

::-webkit-scrollbar-track{
  background: rgba(0, 0, 0, 0.29);
}

::-webkit-scrollbar-thumb{
  background-color: $darkGrey;
}

::-webkit-scrollbar-thumb:hover{
  background-color: #151414;
}

html,body{
  font-family: 'Open Sans', sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  outline: none !important;
}

*{
  margin: 0;
  padding: 0;
}

.league_title{
  font-size: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.greybox_table {
  background: url('../img/bowling/texturka2.png');
  width: 100%;
  height: 1000px;
}

.row_tables{
  width: 100%;
  height: 770px;

  .table_section{
    background: white;
    width: 50%;
    height: 100%;
    float: left;

    h3{
      color: white;
      background: #4b4a4a;
      padding: 10px;
    }

    .divider{
      border-top: 1px dotted #d7d5d5;
    }
    .results{
      width: 50%;
      float: left;
      border-right: 1px dotted #d7d5d5;
      border-left: 1px dotted #d7d5d5;

      td{
        padding: 5px;
        border-top: 1px solid #f4f4f4;
      }
      tr{
        font-size: 12px;
      }
      .on_center{
        text-align: center;
      }
    }
    .results_2{
      width: 50%;
      float: left;
      border-right: 1px dotted #d7d5d5;

      td{
        padding: 5px;
        border-top: 1px solid #f4f4f4;
      }
      tr{
        font-size: 12px;
      }
      .on_center{
        text-align: center;
      }
    }
  }
}