@import url(http://fonts.googleapis.com/css?family=Open+Sans&subset=latin,latin-ext);

$red: #d14334;
$darkGrey: #343333;
$white: #ffffff;

@font-face {
  font-family: 'bittersweet';
  src: url("../fonts/Bittersweet%20NF.ttf");
  font-weight: normal;
  font-style: normal;
}

::-webkit-scrollbar {
  background: #fff;
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  background: $darkGrey;
}

html, body {
  margin: 0;
  padding: 0;
  outline: none;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background: url("../img/background/2.jpg") no-repeat top center;
  background-size: cover;
  font-family: 'Open Sans', sans-serif;
}

/*  CONTAINER  */

.container {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

/*  PART 1 */

.part_one {
  width: 100%;
  height: 60%;

  .logo_block {
    background: url("../img/textures/pattern.png") rgba(52, 51, 51, 0.41);
    margin: 0 auto;
    width: 33.333%;
    height: 100%;

    font-family: bittersweet;
    text-align: center;
    color: #ffffff;

    h1 {
      padding-top: 150px;
      text-shadow: 1px 2px rgba(0, 0, 0, 1);

      .word_l {
        font-size: 6vw;
      }
      .word_a {
        font-size: 4.7vw;
      }
      .vida {
        font-size: 5.4vw;
        padding-left: 10px;
        padding-right: 10px;
      }
      .cubana {
        font-size: 3.5vw;
        letter-spacing: 2px;
      }
    }
    p {
      font-size: 2.2vw;
      text-shadow: 1px 2px rgba(0, 0, 0, 1);
    }
  }
}

/*  PART 2  */

.part_two {
  width: 100%;
  height: 40%;

  .roznov_block {
    width: 33.333%;
    height: 100%;
    background: rgba(52, 51, 51, 0.95);
    float: left;

    .news_roznov {
      width: 100%;
      height: auto;
      background: rgba(42, 41, 41, 0.95);
      margin-top: 30px;
      position: relative;
      z-index: +111;

      font-size: 0.6vw;
      padding-top: 15px;
      padding-bottom: 15px;
      color: rgba(209, 67, 52, 0.60);
      text-align: center;

      a {
        text-decoration: none;
        color: rgba(209, 67, 52, 0.60);

        transition-property: color;
        transition-duration: 0.6s;
        transition-delay: 0s, 0.25s, 0.45s, 0.7s;
      }
      a:hover {
        color: rgba(209, 67, 52, 0.90);
      }
    }

    h3 {
      text-align: center;
      color: white;
      font-family: bittersweet;
      font-size: 3vw;
      padding-top: 40px;
    }
    p {
      text-align: center;
      color: $red;
    }

    .arrow {
      display: block;
      margin-left: auto;
      margin-right: auto;
      padding-top: 1.5%;
    }
  }
  .valmez_block {
    width: 33.333%;
    height: 100%;
    background: rgba(209, 67, 52, 0.95);
    float: left;

    .news_valmez {
      width: 100%;
      height: auto;
      background: rgba(170, 52, 40, 0.95);
      margin-top: 30px;
      position: relative;
      z-index: +111;

      font-size: 0.6vw;
      padding-top: 15px;
      padding-bottom: 15px;
      color: rgba(255, 255, 255, 0.60);
      text-align: center;

      a {
        text-decoration: none;
        color: rgba(255, 255, 255, 0.60);

        transition-property: color;
        transition-duration: 0.6s;
        transition-delay: 0s, 0.25s, 0.45s, 0.7s;
      }
      a:hover {
        color: rgba(255, 255, 255, 0.90);
      }
    }

    h3 {
      text-align: center;
      color: #e5e5e5;
      font-family: bittersweet;
      font-size: 3vw;
      padding-top: 40px;
    }
    p {
      text-align: center;
      color: #e5e5e5;
    }

    .arrow {
      display: block;
      margin-left: auto;
      margin-right: auto;
      padding-top: 1.5%;
    }
  }
  .bowling_block {
    width: 33.333%;
    height: 100%;
    background: rgba(190, 190, 190, 0.95);
    float: left;

    .news_bowling {
      width: 100%;
      height: auto;
      background: rgba(175, 175, 175, 0.95);
      margin-top: 30px;
      position: relative;
      z-index: +111;

      font-size: 0.6vw;
      padding-top: 15px;
      padding-bottom: 15px;
      color: rgba(52, 51, 51, 0.60);
      text-align: center;

      a {
        text-decoration: none;
        color: rgba(52, 51, 51, 0.60);

        transition-property: color;
        transition-duration: 0.6s;
        transition-delay: 0s, 0.25s, 0.45s, 0.7s;
      }
      a:hover {
        color: rgba(52, 51, 51, 0.90);
      }
    }

    h3 {
      text-align: center;
      color: white;
      font-family: bittersweet;
      font-size: 3vw;
      letter-spacing: 5px;
      padding-top: 40px;
    }
    p {
      text-align: center;
      color: $darkGrey;
    }

    .arrow {
      display: block;
      margin-left: auto;
      margin-right: auto;
      padding-top: 1.5%;
    }
  }
}

/*  ODKAZ  */

.roznov_block > .explorer > .heading_text, .valmez_block > .explorer > .heading_text, .bowling_block > .explorer > .heading_text {
  width: 100%;
  height: auto;
  background: rgba(255, 255, 255, 0.15);
  padding-bottom: 20px;

  transition-property: background;
  transition-duration: 0.6s;
  transition-delay: 0s, 0.25s, 0.45s, 0.7s;
}

.roznov_block > .explorer > .heading_text:hover, .valmez_block > .explorer > .heading_text:hover, .bowling_block > .explorer > .heading_text:hover {
  cursor: pointer;
  background: rgba(255, 255, 255, 0.30);
}

.roznov_block > .explorer, .valmez_block > .explorer, .bowling_block > .explorer {
  text-decoration: none;
}

/*  RESPONSIVE  */

@media screen and (max-width: 980px) {

  body {
    background: none;
  }

  .part_one {
    .logo_block {
      width: 100%;
      background: url("../img/background/2-blur.jpg") no-repeat top center;
      background-size: cover;

      h1 {
        padding-top: 50px;

        .word_l {
          font-size: 12vw;
        }
        .word_a {
          font-size: 10.7vw;
        }
        .vida {
          font-size: 11.4vw;
        }
        .cubana {
          font-size: 9.5vw;
        }
      }
      p {
        font-size: 6.2vw;
      }
    }
  }

  .part_two {
    .roznov_block {
      width: 50%;

      .news_roznov {
        font-size: 1.4vw;
      }
      h3 {
        font-size: 4vw;
        padding-top: 5%;
      }
    }
    .valmez_block {
      width: 50%;

      .news_valmez {
        font-size: 1.4vw;
      }
      h3 {
        font-size: 4vw;
        padding-top: 5%;
      }
    }
    .bowling_block {
      width: 100%;

      .news_bowling {
        font-size: 1.4vw;
      }
      h3 {
        font-size: 4vw;
        padding-top: 2%;
      }
    }
  }

}

@media screen and (max-width: 600px) {

  body {
    background: none;
  }

  .part_one {
    .logo_block {

      h1 {
        .word_l {
          font-size: 16vw;
        }
        .word_a {
          font-size: 14.7vw;
        }
        .vida {
          font-size: 15.4vw;
        }
        .cubana {
          font-size: 13.5vw;
        }
      }
      p {
        font-size: 8.2vw;
      }
    }
  }

  .part_two {
    .roznov_block {
      width: 100%;

      .news_roznov {
        font-size: 2.5vw;
      }
      h3 {
        font-size: 6.4vw;
      }
    }
    .valmez_block {
      width: 100%;

      .news_valmez {
        font-size: 2.5vw;
      }
      h3 {
        font-size: 6.4vw;
      }
    }
    .bowling_block {
      width: 100%;

      .news_bowling {
        font-size: 2.5vw;
      }
      h3 {
        font-size: 6.4vw;
      }
    }
  }
}

@media screen and (max-height: 700px) {

  .part_one {
    .logo_block {

      h1 {
        .word_l {
          font-size: 8vw;
        }
        .word_a {
          font-size: 6.7vw;
        }
        .vida {
          font-size: 7.4vw;
        }
        .cubana {
          font-size: 5.5vw;
        }
      }
      p {
        font-size: 4.2vw;
      }
    }
  }
}