@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@font-face {
  font-family: 'bittersweet';
  src: url("../fonts/Bittersweet%20NF.ttf");
  font-weight: normal;
  font-style: normal; }
::-webkit-scrollbar {
  background: #fff;
  width: 6px;
  height: 6px; }

::-webkit-scrollbar-thumb {
  background: #343333; }

html, body {
  font-family: 'Open Sans', sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  outline: none !important; }

* {
  margin: 0;
  padding: 0; }

.page_title {
  width: 100%;
  background: #343333;
  border-bottom: 1px solid #303030; }
  .page_title .page_title_h {
    padding-top: 15px;
    padding-bottom: 15px;
    color: #d14334;
    font-size: 18px; }

#page {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px; }

.mainmenu a, .category_title, .seznam h3, .seznam li, #bowling_info, p.created {
  font-family: "Open Sans"; }

.flexible_content {
  width: 1024px;
  height: auto;
  margin: 0px auto; }

.greybox {
  background: url("../img/bowling/texturka3.png");
  width: 100%;
  height: 540px; }

.greybox_2 {
  background: url("../img/bowling/texturka3.png");
  width: 100%;
  height: 640px; }

/*  MENU  */
nav {
  width: 100%;
  height: 100px;
  background-color: #d14334; }

.logo {
  font-family: bittersweet;
  font-size: 4.688em;
  padding-top: 10px;
  letter-spacing: 3px;
  float: left;
  color: white; }

.mainmenu {
  float: right;
  height: auto; }

.mainmenu li {
  display: inline;
  list-style: none; }

.mainmenu a {
  color: #fff;
  text-decoration: none;
  line-height: 100px;
  font-size: 14px;
  padding: 15px;
  border-bottom: 2px solid #d14335;
  transition-property: border-bottom-color;
  transition-duration: 0.6s;
  transition-delay: 0s,0.25s,0.45s,0.7s; }

.mainmenu a:hover {
  border-color: #dddddd; }

/*  BLOK S TEXTEM A IKONOU BOWLINGOVE KOULE  */
.bowling_text_default {
  background: white;
  width: 100%;
  height: auto;
  color: #343333;
  font-size: 20px;
  text-align: center; }
  .bowling_text_default .bowling_icon {
    margin-top: 50px;
    height: 100px; }
  .bowling_text_default .bowling_info {
    width: 80%;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 50px; }
  .bowling_text_default .bowling_wifi {
    width: 80%;
    margin: 0 auto;
    padding-bottom: 80px; }

/*  INSTAGRAM GALERIE  */
.category_title {
  font-size: 1.9em;
  text-align: center;
  line-height: 60px;
  color: #d14334; }

#instagram_box {
  width: 100%;
  height: auto;
  min-height: 30%;
  background: url("../img/bowling/texturka.jpg");
  padding-bottom: 70px;
  padding-top: 30px; }
  #instagram_box .four_sections {
    background: #dcdcdc;
    width: 100%;
    height: 260px;
    margin-top: 40px;
    display: block; }
  #instagram_box article {
    width: 256px;
    height: 100%;
    display: inline-table; }
  #instagram_box .insta_img_1 {
    background: url("../img/bowling/bowling_insta_2.jpg") no-repeat top center;
    background-size: cover;
    float: left; }
  #instagram_box .insta_img_2 {
    background: url("../img/bowling/bowling_insta.jpg") no-repeat top center;
    background-size: cover;
    float: left; }
  #instagram_box .insta_img_3 {
    background: url("../img/bowling/bowling_insta_4.jpg") no-repeat top center;
    float: left;
    background-size: cover; }
  #instagram_box .insta_img_4 {
    background: url("../img/bowling/bowling_insta_3.jpg") no-repeat top center;
    float: left;
    background-size: cover; }
  #instagram_box .insta_img_1 .insta_hover, #instagram_box .insta_img_2 .insta_hover, #instagram_box .insta_img_3 .insta_hover, #instagram_box .insta_img_4 .insta_hover {
    color: white;
    background: rgba(0, 0, 0, 0.2);
    transition-property: background;
    transition-duration: 0.6s;
    transition-delay: 0s,0.25s,0.45s,0.7s;
    -moz-transition-property: background;
    -moz-transition-duration: 0.6s;
    -moz-transition-delay: 0s,0.25s,0.45s,0.7s; }
    #instagram_box .insta_img_1 .insta_hover .on_hover, #instagram_box .insta_img_2 .insta_hover .on_hover, #instagram_box .insta_img_3 .insta_hover .on_hover, #instagram_box .insta_img_4 .insta_hover .on_hover {
      visibility: hidden;
      text-align: center;
      line-height: 260px;
      font-size: 30px; }
  #instagram_box .insta_img_1 .insta_hover:hover, #instagram_box .insta_img_2 .insta_hover:hover, #instagram_box .insta_img_3 .insta_hover:hover, #instagram_box .insta_img_4 .insta_hover:hover {
    background: rgba(209, 67, 52, 0.9);
    cursor: pointer;
    content: View; }
  #instagram_box .insta_img_1 .insta_hover:hover .on_hover, #instagram_box .insta_img_2 .insta_hover:hover .on_hover, #instagram_box .insta_img_3 .insta_hover:hover .on_hover, #instagram_box .insta_img_4 .insta_hover:hover .on_hover {
    visibility: visible; }

/*  MAPA + ADRESA  */
.adress {
  background: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 460px;
  position: absolute;
  z-index: +111; }
  .adress .seznam {
    background: white;
    float: left;
    text-align: left;
    width: 50%;
    height: 260px;
    color: #343333; }
    .adress .seznam ul {
      margin-top: 50px;
      margin-left: 40px; }
    .adress .seznam li {
      list-style: none;
      padding-bottom: 15px;
      font-size: 14px; }
    .adress .seznam .facebook {
      margin-left: 40px;
      margin-top: 10px;
      width: 7%; }
    .adress .seznam .instagram {
      width: 7%; }

#map-canvas {
  width: 100%;
  height: 460px; }

/*  FOOTER  */
footer {
  width: 100%;
  float: left;
  height: 40px;
  bottom: 0;
  background: #000000; }

p.created {
  color: #DCDCDC;
  font-size: 12px;
  line-height: 40px;
  text-align: center; }

@media screen and (max-width: 1050px) {
  .flexible_content {
    width: 95%; }

  .category_title {
    padding-bottom: 20px; }

  #instagram_box .four_sections {
    width: 720px;
    height: 720px !important;
    margin: 0 auto !important; }
  #instagram_box article {
    width: 25%; }
  #instagram_box .insta_img_1, #instagram_box .insta_img_2 {
    float: left;
    height: 360px;
    width: 360px; }
  #instagram_box .insta_img_3, #instagram_box .insta_img_4 {
    float: left;
    height: 360px;
    width: 360px; }
  #instagram_box .insta_img_1 .insta_hover .on_hover, #instagram_box .insta_img_2 .insta_hover .on_hover,
  #instagram_box .insta_img_3 .insta_hover .on_hover, #instagram_box .insta_img_4 .insta_hover .on_hover {
    line-height: 360px; } }
@media screen and (max-width: 950px) {
  .adress .seznam {
    width: 70%; } }
@media screen and (max-width: 850px) {
  .logo {
    font-family: bittersweet;
    font-size: 2.5em;
    padding-top: 25px;
    letter-spacing: 1.5px; }

  .category_title {
    padding-bottom: 20px; }

  #instagram_box .four_sections {
    width: 410px;
    height: 1640px !important;
    margin: 0 auto; }
  #instagram_box article {
    width: 25%; }
  #instagram_box .insta_img_1, #instagram_box .insta_img_2 {
    float: left;
    height: 410px;
    width: 410px;
    margin: 0 auto; }
  #instagram_box .insta_img_3, #instagram_box .insta_img_4 {
    float: left;
    height: 410px;
    width: 410px;
    margin: 0 auto; }
  #instagram_box .insta_img_1 .insta_hover .on_hover, #instagram_box .insta_img_2 .insta_hover .on_hover,
  #instagram_box .insta_img_3 .insta_hover .on_hover, #instagram_box .insta_img_4 .insta_hover .on_hover {
    line-height: 410px; } }
@media screen and (max-width: 680px) {
  .adress .seznam {
    width: 100%; } }

/*# sourceMappingURL=style-bowling.css.map */
