@import url(http://fonts.googleapis.com/css?family=Open+Sans&subset=latin,latin-ext);
@font-face {
  font-family: 'bittersweet';
  src: url("../fonts/Bittersweet%20NF.ttf");
  font-weight: normal;
  font-style: normal; }
.greybox_table {
  background: url("../img/bowling/texturka3.png");
  width: 100%;
  height: auto; }

.greybox_table_2 {
  background: url("../img/bowling/texturka3.png");
  width: 100%;
  height: 1450px; }

.greybox_actual {
  background: url("../img/bowling/texturka3.png");
  width: 100%;
  height: auto; }

.greybox_rules {
  background: url("../img/bowling/texturka3.png");
  width: 100%;
  height: 1024px; }

.greybox_top {
  background: url("../img/bowling/texturka3.png");
  width: 100%;
  height: 1024px; }

/*  LIGA TABULKA  */
.individualContent, .teamsContent {
  background: white;
  width: 100%;
  height: auto;
  margin-top: 40px; }
  .individualContent #tabs, .individualContent #tabs_2, .teamsContent #tabs, .teamsContent #tabs_2 {
    width: 100%;
    height: auto; }
    .individualContent #tabs ul, .individualContent #tabs_2 ul, .teamsContent #tabs ul, .teamsContent #tabs_2 ul {
      background: #343333;
      width: 100%;
      display: block;
      text-align: right;
      outline: none !important; }
      .individualContent #tabs ul p, .individualContent #tabs_2 ul p, .teamsContent #tabs ul p, .teamsContent #tabs_2 ul p {
        text-align: left;
        color: #d14334;
        position: absolute;
        line-height: 40px;
        padding-left: 20px; }
      .individualContent #tabs ul p.noTabs, .individualContent #tabs_2 ul p.noTabs, .teamsContent #tabs ul p.noTabs, .teamsContent #tabs_2 ul p.noTabs {
        position: inherit; }
      .individualContent #tabs ul li, .individualContent #tabs_2 ul li, .teamsContent #tabs ul li, .teamsContent #tabs_2 ul li {
        display: inline-table;
        outline: none !important; }
        .individualContent #tabs ul li a, .individualContent #tabs_2 ul li a, .teamsContent #tabs ul li a, .teamsContent #tabs_2 ul li a {
          line-height: 40px;
          color: #ffffff;
          text-decoration: none;
          outline: none !important;
          padding: 0 21px 0 0;
          transition-property: color;
          transition-duration: 0.6s;
          transition-delay: 0s, 0.25s, 0.45s, 0.7s; }
        .individualContent #tabs ul li a:hover, .individualContent #tabs_2 ul li a:hover, .teamsContent #tabs ul li a:hover, .teamsContent #tabs_2 ul li a:hover {
          color: #d14334; }
        .individualContent #tabs ul li a.active, .individualContent #tabs_2 ul li a.active, .teamsContent #tabs ul li a.active, .teamsContent #tabs_2 ul li a.active {
          color: #d14334; }
    .individualContent #tabs #tabs-1 table, .individualContent #tabs #tabs-2 table, .individualContent #tabs #tabs-3 table, .individualContent #tabs #tabs-4 table, .individualContent #tabs #tabs-5 table, .individualContent #tabs #tabs-6 table, .individualContent #tabs #tabs-7 table, .individualContent #tabs_2 #tabs-1 table, .individualContent #tabs_2 #tabs-2 table, .individualContent #tabs_2 #tabs-3 table, .individualContent #tabs_2 #tabs-4 table, .individualContent #tabs_2 #tabs-5 table, .individualContent #tabs_2 #tabs-6 table, .individualContent #tabs_2 #tabs-7 table, .teamsContent #tabs #tabs-1 table, .teamsContent #tabs #tabs-2 table, .teamsContent #tabs #tabs-3 table, .teamsContent #tabs #tabs-4 table, .teamsContent #tabs #tabs-5 table, .teamsContent #tabs #tabs-6 table, .teamsContent #tabs #tabs-7 table, .teamsContent #tabs_2 #tabs-1 table, .teamsContent #tabs_2 #tabs-2 table, .teamsContent #tabs_2 #tabs-3 table, .teamsContent #tabs_2 #tabs-4 table, .teamsContent #tabs_2 #tabs-5 table, .teamsContent #tabs_2 #tabs-6 table, .teamsContent #tabs_2 #tabs-7 table {
      width: 100%;
      height: auto;
      border-spacing: 0; }
      .individualContent #tabs #tabs-1 table tr.titles, .individualContent #tabs #tabs-2 table tr.titles, .individualContent #tabs #tabs-3 table tr.titles, .individualContent #tabs #tabs-4 table tr.titles, .individualContent #tabs #tabs-5 table tr.titles, .individualContent #tabs #tabs-6 table tr.titles, .individualContent #tabs #tabs-7 table tr.titles, .individualContent #tabs_2 #tabs-1 table tr.titles, .individualContent #tabs_2 #tabs-2 table tr.titles, .individualContent #tabs_2 #tabs-3 table tr.titles, .individualContent #tabs_2 #tabs-4 table tr.titles, .individualContent #tabs_2 #tabs-5 table tr.titles, .individualContent #tabs_2 #tabs-6 table tr.titles, .individualContent #tabs_2 #tabs-7 table tr.titles, .teamsContent #tabs #tabs-1 table tr.titles, .teamsContent #tabs #tabs-2 table tr.titles, .teamsContent #tabs #tabs-3 table tr.titles, .teamsContent #tabs #tabs-4 table tr.titles, .teamsContent #tabs #tabs-5 table tr.titles, .teamsContent #tabs #tabs-6 table tr.titles, .teamsContent #tabs #tabs-7 table tr.titles, .teamsContent #tabs_2 #tabs-1 table tr.titles, .teamsContent #tabs_2 #tabs-2 table tr.titles, .teamsContent #tabs_2 #tabs-3 table tr.titles, .teamsContent #tabs_2 #tabs-4 table tr.titles, .teamsContent #tabs_2 #tabs-5 table tr.titles, .teamsContent #tabs_2 #tabs-6 table tr.titles, .teamsContent #tabs_2 #tabs-7 table tr.titles {
        background: #343333;
        color: #ffffff; }
        .individualContent #tabs #tabs-1 table tr.titles td, .individualContent #tabs #tabs-2 table tr.titles td, .individualContent #tabs #tabs-3 table tr.titles td, .individualContent #tabs #tabs-4 table tr.titles td, .individualContent #tabs #tabs-5 table tr.titles td, .individualContent #tabs #tabs-6 table tr.titles td, .individualContent #tabs #tabs-7 table tr.titles td, .individualContent #tabs_2 #tabs-1 table tr.titles td, .individualContent #tabs_2 #tabs-2 table tr.titles td, .individualContent #tabs_2 #tabs-3 table tr.titles td, .individualContent #tabs_2 #tabs-4 table tr.titles td, .individualContent #tabs_2 #tabs-5 table tr.titles td, .individualContent #tabs_2 #tabs-6 table tr.titles td, .individualContent #tabs_2 #tabs-7 table tr.titles td, .teamsContent #tabs #tabs-1 table tr.titles td, .teamsContent #tabs #tabs-2 table tr.titles td, .teamsContent #tabs #tabs-3 table tr.titles td, .teamsContent #tabs #tabs-4 table tr.titles td, .teamsContent #tabs #tabs-5 table tr.titles td, .teamsContent #tabs #tabs-6 table tr.titles td, .teamsContent #tabs #tabs-7 table tr.titles td, .teamsContent #tabs_2 #tabs-1 table tr.titles td, .teamsContent #tabs_2 #tabs-2 table tr.titles td, .teamsContent #tabs_2 #tabs-3 table tr.titles td, .teamsContent #tabs_2 #tabs-4 table tr.titles td, .teamsContent #tabs_2 #tabs-5 table tr.titles td, .teamsContent #tabs_2 #tabs-6 table tr.titles td, .teamsContent #tabs_2 #tabs-7 table tr.titles td {
          line-height: 40px; }
      .individualContent #tabs #tabs-1 table tr.greyCell, .individualContent #tabs #tabs-2 table tr.greyCell, .individualContent #tabs #tabs-3 table tr.greyCell, .individualContent #tabs #tabs-4 table tr.greyCell, .individualContent #tabs #tabs-5 table tr.greyCell, .individualContent #tabs #tabs-6 table tr.greyCell, .individualContent #tabs #tabs-7 table tr.greyCell, .individualContent #tabs_2 #tabs-1 table tr.greyCell, .individualContent #tabs_2 #tabs-2 table tr.greyCell, .individualContent #tabs_2 #tabs-3 table tr.greyCell, .individualContent #tabs_2 #tabs-4 table tr.greyCell, .individualContent #tabs_2 #tabs-5 table tr.greyCell, .individualContent #tabs_2 #tabs-6 table tr.greyCell, .individualContent #tabs_2 #tabs-7 table tr.greyCell, .teamsContent #tabs #tabs-1 table tr.greyCell, .teamsContent #tabs #tabs-2 table tr.greyCell, .teamsContent #tabs #tabs-3 table tr.greyCell, .teamsContent #tabs #tabs-4 table tr.greyCell, .teamsContent #tabs #tabs-5 table tr.greyCell, .teamsContent #tabs #tabs-6 table tr.greyCell, .teamsContent #tabs #tabs-7 table tr.greyCell, .teamsContent #tabs_2 #tabs-1 table tr.greyCell, .teamsContent #tabs_2 #tabs-2 table tr.greyCell, .teamsContent #tabs_2 #tabs-3 table tr.greyCell, .teamsContent #tabs_2 #tabs-4 table tr.greyCell, .teamsContent #tabs_2 #tabs-5 table tr.greyCell, .teamsContent #tabs_2 #tabs-6 table tr.greyCell, .teamsContent #tabs_2 #tabs-7 table tr.greyCell {
        background: #f3f3f3; }
      .individualContent #tabs #tabs-1 table tr, .individualContent #tabs #tabs-2 table tr, .individualContent #tabs #tabs-3 table tr, .individualContent #tabs #tabs-4 table tr, .individualContent #tabs #tabs-5 table tr, .individualContent #tabs #tabs-6 table tr, .individualContent #tabs #tabs-7 table tr, .individualContent #tabs_2 #tabs-1 table tr, .individualContent #tabs_2 #tabs-2 table tr, .individualContent #tabs_2 #tabs-3 table tr, .individualContent #tabs_2 #tabs-4 table tr, .individualContent #tabs_2 #tabs-5 table tr, .individualContent #tabs_2 #tabs-6 table tr, .individualContent #tabs_2 #tabs-7 table tr, .teamsContent #tabs #tabs-1 table tr, .teamsContent #tabs #tabs-2 table tr, .teamsContent #tabs #tabs-3 table tr, .teamsContent #tabs #tabs-4 table tr, .teamsContent #tabs #tabs-5 table tr, .teamsContent #tabs #tabs-6 table tr, .teamsContent #tabs #tabs-7 table tr, .teamsContent #tabs_2 #tabs-1 table tr, .teamsContent #tabs_2 #tabs-2 table tr, .teamsContent #tabs_2 #tabs-3 table tr, .teamsContent #tabs_2 #tabs-4 table tr, .teamsContent #tabs_2 #tabs-5 table tr, .teamsContent #tabs_2 #tabs-6 table tr, .teamsContent #tabs_2 #tabs-7 table tr {
        text-align: center; }
        .individualContent #tabs #tabs-1 table tr td, .individualContent #tabs #tabs-2 table tr td, .individualContent #tabs #tabs-3 table tr td, .individualContent #tabs #tabs-4 table tr td, .individualContent #tabs #tabs-5 table tr td, .individualContent #tabs #tabs-6 table tr td, .individualContent #tabs #tabs-7 table tr td, .individualContent #tabs_2 #tabs-1 table tr td, .individualContent #tabs_2 #tabs-2 table tr td, .individualContent #tabs_2 #tabs-3 table tr td, .individualContent #tabs_2 #tabs-4 table tr td, .individualContent #tabs_2 #tabs-5 table tr td, .individualContent #tabs_2 #tabs-6 table tr td, .individualContent #tabs_2 #tabs-7 table tr td, .teamsContent #tabs #tabs-1 table tr td, .teamsContent #tabs #tabs-2 table tr td, .teamsContent #tabs #tabs-3 table tr td, .teamsContent #tabs #tabs-4 table tr td, .teamsContent #tabs #tabs-5 table tr td, .teamsContent #tabs #tabs-6 table tr td, .teamsContent #tabs #tabs-7 table tr td, .teamsContent #tabs_2 #tabs-1 table tr td, .teamsContent #tabs_2 #tabs-2 table tr td, .teamsContent #tabs_2 #tabs-3 table tr td, .teamsContent #tabs_2 #tabs-4 table tr td, .teamsContent #tabs_2 #tabs-5 table tr td, .teamsContent #tabs_2 #tabs-6 table tr td, .teamsContent #tabs_2 #tabs-7 table tr td {
          padding: 8px 0 8px 0; }
        .individualContent #tabs #tabs-1 table tr td.cellBold, .individualContent #tabs #tabs-2 table tr td.cellBold, .individualContent #tabs #tabs-3 table tr td.cellBold, .individualContent #tabs #tabs-4 table tr td.cellBold, .individualContent #tabs #tabs-5 table tr td.cellBold, .individualContent #tabs #tabs-6 table tr td.cellBold, .individualContent #tabs #tabs-7 table tr td.cellBold, .individualContent #tabs_2 #tabs-1 table tr td.cellBold, .individualContent #tabs_2 #tabs-2 table tr td.cellBold, .individualContent #tabs_2 #tabs-3 table tr td.cellBold, .individualContent #tabs_2 #tabs-4 table tr td.cellBold, .individualContent #tabs_2 #tabs-5 table tr td.cellBold, .individualContent #tabs_2 #tabs-6 table tr td.cellBold, .individualContent #tabs_2 #tabs-7 table tr td.cellBold, .teamsContent #tabs #tabs-1 table tr td.cellBold, .teamsContent #tabs #tabs-2 table tr td.cellBold, .teamsContent #tabs #tabs-3 table tr td.cellBold, .teamsContent #tabs #tabs-4 table tr td.cellBold, .teamsContent #tabs #tabs-5 table tr td.cellBold, .teamsContent #tabs #tabs-6 table tr td.cellBold, .teamsContent #tabs #tabs-7 table tr td.cellBold, .teamsContent #tabs_2 #tabs-1 table tr td.cellBold, .teamsContent #tabs_2 #tabs-2 table tr td.cellBold, .teamsContent #tabs_2 #tabs-3 table tr td.cellBold, .teamsContent #tabs_2 #tabs-4 table tr td.cellBold, .teamsContent #tabs_2 #tabs-5 table tr td.cellBold, .teamsContent #tabs_2 #tabs-6 table tr td.cellBold, .teamsContent #tabs_2 #tabs-7 table tr td.cellBold {
          font-weight: bold; }

/*  AKTUALITY  */
.actualRow {
  width: 100%;
  height: 1024px; }
  .actualRow #actual {
    background: white;
    width: 68%;
    height: auto;
    float: left;
    margin-top: 40px; }
    .actualRow #actual h2 {
      color: rgba(209, 67, 52, 0.8);
      padding: 15px 0 0 15px;
      font-size: 23px; }
    .actualRow #actual #actualDate {
      color: #000000;
      padding-bottom: 10px; }
    .actualRow #actual p {
      width: 94%;
      color: #6d6d6d;
      text-align: justify;
      font-size: 15px;
      padding-left: 15px; }
    .actualRow #actual #actualBlog hr {
      margin-top: 10px;
      border: 1px solid rgba(0, 0, 0, 0.06); }
  .actualRow #actual-2 {
    background: #343333;
    width: 30%;
    height: auto;
    float: right;
    margin-top: 40px; }
    .actualRow #actual-2 p {
      text-align: center;
      color: #cdcdcd;
      padding-bottom: 25px;
      width: 90%;
      margin: 0 auto; }
    .actualRow #actual-2 p.lastActual {
      padding: 30px 0 30px 0; }

/*  PRAVIDLA  */
.rulesRow {
  width: 100%;
  height: 1024px; }
  .rulesRow #rule {
    background: white;
    width: 58%;
    height: 450px;
    float: left;
    margin-top: 40px; }
  .rulesRow #rule-2 {
    background: #343333;
    width: 40%;
    height: 450px;
    float: right;
    margin-top: 40px; }
  .rulesRow #rule-3 {
    background: #1e1d1d;
    width: 100%;
    height: 450px;
    float: right;
    margin-top: 40px; }

/*  ROZPIS  */
.draftHeading {
  text-align: center;
  color: #343333;
  width: 100%;
  padding: 35px 0 35px 0; }
  .draftHeading .seasonColor {
    color: #d14334; }

#draftJaro {
  background: white;
  width: 100%;
  height: auto; }
  #draftJaro table {
    width: 100%;
    height: auto;
    border-spacing: 0; }
    #draftJaro table tr.titles {
      background: #343333;
      color: #ffffff; }
      #draftJaro table tr.titles td {
        line-height: 40px; }
    #draftJaro table tr.greyCell {
      background: #f3f3f3; }
    #draftJaro table tr {
      text-align: center; }
      #draftJaro table tr td {
        padding: 5px 0 5px 0; }

/*  TOPKA  */
.topRow {
  width: 100%;
  height: 1024px; }
  .topRow #top {
    background: white;
    width: 58%;
    height: 450px;
    float: left;
    margin-top: 40px; }
  .topRow #top-2 {
    background: #343333;
    width: 40%;
    height: 450px;
    float: right;
    margin-top: 40px; }
  .topRow #top-3 {
    background: #1e1d1d;
    width: 100%;
    height: 450px;
    float: right;
    margin-top: 40px; }

/*# sourceMappingURL=style-bowling-league.css.map */
