@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@font-face {
  font-family: 'bittersweet';
  src: url("../fonts/Bittersweet%20NF.ttf");
  font-weight: normal;
  font-style: normal; }
::-webkit-scrollbar {
  width: 12px; }

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.29); }

::-webkit-scrollbar-thumb {
  background-color: #343333; }

::-webkit-scrollbar-thumb:hover {
  background-color: #151414; }

html, body {
  font-family: 'Open Sans', sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  outline: none !important; }

* {
  margin: 0;
  padding: 0; }

.page_title {
  width: 100%;
  background: #343333;
  border-bottom: 1px solid #303030; }
  .page_title .page_title_h {
    padding-top: 15px;
    padding-bottom: 15px;
    color: #d14334;
    font-size: 19px; }

#page {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px; }

.mainmenu a, .category_title, .seznam h3, .seznam li, #bowling_info, p.created {
  font-family: "Open Sans"; }

nav {
  width: 100%;
  height: 100px;
  background-color: #d14334; }

.flexible_content {
  width: 1024px;
  height: auto;
  margin: 0px auto; }

.greybox {
  background: url("../img/bowling/texturka2.png");
  width: 100%;
  height: 540px; }

.greybox_2 {
  background: url("../img/bowling/texturka2.png");
  width: 100%;
  height: 100%; }

#map-canvas {
  width: 100%;
  height: 260px; }

.logo {
  font-family: bittersweet;
  font-size: 75px;
  padding-top: 10px;
  letter-spacing: 3px;
  float: left;
  color: white; }

.mainmenu {
  float: right;
  height: auto; }

.mainmenu li {
  display: inline;
  list-style: none; }

.mainmenu a {
  color: #fff;
  text-decoration: none;
  line-height: 100px;
  font-size: 14px;
  border: 1px dotted #c4392c;
  padding: 15px; }

.mainmenu a:hover {
  border: 1px solid white;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -o-transition: 1s;
  transition: 1s; }

.category_title {
  font-size: 2em;
  padding-top: 40px;
  color: #d14334; }

.adress {
  background: rgba(52, 51, 51, 0.61);
  width: 100%;
  height: 260px;
  position: absolute;
  z-index: +111; }
  .adress .seznam {
    float: left;
    text-align: left;
    width: 50%;
    height: 260px;
    color: #ffffff;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.37); }
    .adress .seznam ul {
      margin-top: 70px; }
    .adress .seznam li {
      list-style: none;
      padding-bottom: 15px;
      font-size: 15px; }

#bowling_info {
  color: #343333;
  float: left;
  text-align: center;
  padding-top: 120px;
  word-spacing: 3px;
  font-size: 19px; }

.bowling_wifi {
  width: 100%;
  height: 50px; }
  .bowling_wifi p {
    color: #343333;
    font-size: 24px;
    text-align: center;
    padding-top: 20px; }
  .bowling_wifi img {
    width: 250px;
    height: 85px;
    padding-top: 50px;
    margin-left: auto;
    margin-right: auto;
    display: block; }

#instagram_box {
  width: 100%;
  height: auto;
  min-height: 50%;
  background-color: #ffffff;
  padding-bottom: 30px; }
  #instagram_box .four_sections {
    background: #dcdcdc;
    width: 100%;
    height: 260px;
    margin-top: 40px;
    display: inline-table; }
  #instagram_box article {
    width: 256px;
    height: 100%;
    display: inline-table; }
  #instagram_box .insta_img_1 {
    background: url("../img/bowling/bowling-instagram-1.jpg") no-repeat top center; }
  #instagram_box .insta_img_2 {
    background: url("../img/bowling/bowling-instagram-2.jpg") no-repeat top center;
    float: left; }
  #instagram_box .insta_img_3 {
    background: url("../img/bowling/bowling-instagram-3.jpg") no-repeat top center;
    float: left; }
  #instagram_box .insta_img_4 {
    background: url("../img/bowling/bowling-instagram-4.jpg") no-repeat top center;
    float: left; }
  #instagram_box .insta_img_1 .insta_hover, #instagram_box .insta_img_2 .insta_hover, #instagram_box .insta_img_3 .insta_hover, #instagram_box .insta_img_4 .insta_hover {
    width: 228px;
    height: 90%;
    margin-left: 14px;
    margin-top: 11px;
    color: white; }
    #instagram_box .insta_img_1 .insta_hover .on_hover, #instagram_box .insta_img_2 .insta_hover .on_hover, #instagram_box .insta_img_3 .insta_hover .on_hover, #instagram_box .insta_img_4 .insta_hover .on_hover {
      visibility: hidden;
      text-align: center;
      padding-top: 100px;
      font-size: 30px; }
  #instagram_box .insta_img_1 .insta_hover:hover, #instagram_box .insta_img_2 .insta_hover:hover, #instagram_box .insta_img_3 .insta_hover:hover, #instagram_box .insta_img_4 .insta_hover:hover {
    background: rgba(209, 67, 52, 0.6);
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    cursor: pointer;
    content: View; }
  #instagram_box .insta_img_1 .insta_hover:hover .on_hover, #instagram_box .insta_img_2 .insta_hover:hover .on_hover, #instagram_box .insta_img_3 .insta_hover:hover .on_hover, #instagram_box .insta_img_4 .insta_hover:hover .on_hover {
    visibility: visible;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -o-transition: 1s;
    transition: 1s; }

footer {
  width: 100%;
  float: left;
  height: 50px;
  background: #343333; }

p.created {
  color: #fff;
  font-size: 15px;
  line-height: 50px; }

b.created_lvc {
  color: #fff;
  float: right;
  font-size: 15px;
  line-height: 50px; }

/*# sourceMappingURL=style-bowling.css.map */
