@import url(http://fonts.googleapis.com/css?family=Open+Sans&subset=latin,latin-ext);

$red: #d14334;
$darkGrey: #343333;
$grey: #dddddd;
$font-color: #fff;

@font-face {
  font-family: 'bittersweet';
  src: url("../fonts/Bittersweet%20NF.ttf");
  font-weight: normal;
  font-style: normal;
}

/*  BLOK S TEXTEM A IKONOU TELEFONU  */

.play_info {
  color: $darkGrey;
  width: 80%;
  margin: 0 auto;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 80px;
  word-spacing: 3px;
  font-size: 19px;

  li {
    list-style: none;
  }
}

/*  CENIK + PROVOZNI DOBA  */

.time_cenik_info {
  width: 100%;
  height: auto;
  min-height: 100%;
  padding-bottom: 80px;
}

.time_info, .cenik_info {
  width: 50%;
  height: auto;
  table-layout: fixed;
  position: relative;
  border-collapse: collapse;
  top: 30px;
}

.time_info {
  float: left;
}

.time_info td {
  width: 50%;
  height: 30px;
}

.cenik_info td {
  width: 33%;
  height: 30px;
}

.tab_title {
  font-size: 25px;
  color: $red;
}

/*  HALF BLOKY  */

.half_blok {
  width: 100%;
  height: auto;

  .half_one {
    background: white;
    width: 100%;
    height: auto;

    .variant_1 {
      width: 80%;
      margin: 0 auto;
      padding-top: 70px;
      padding-bottom: 70px;
      text-align: center;
      font-size: 1.1em;
    }
  }
  .half_two {
    background: #f7f7f7;
    width: 100%;
    height: auto;
    padding-bottom: 30px;

    .variant_2 {
      padding-bottom: 10px;
      padding-top: 10px;
      text-align: center;
      font-size: 1.1em;
    }
  }

  h3 {
    font-family: "Open Sans";
    font-size: 20px;
    text-align: center;
    padding-top: 45px;
    color: $red;
  }
}

#instagram_box_2 {
  width: 100%;
  height: auto;
  background: url("../img/bowling/texturka.jpg");
}