{*
 - @author Jan Kotrba <jan.kotrbaa@gmail.com>
 - @date 17:40, 7. 4. 2015
*}
{block head}{/block}

{block nav_presenter}Liga{/block}
{block nav_action}Přidat team{/block}
{block content}
	Lorem ipsum
{/block}

{block script}{/block}