{*
 - @author Jan Kotrba <jan.kotrbaa@gmail.com>
 - @date 21:40, 25. 3. 2015
*}
{block head}{/block}

{block nav_presenter}Liga{/block}
{block nav_action}Rozpis{/block}
{block content}
	Lorem ipsum
{/block}

{block script}{/block}