{*
 - @author Jan Kotrba <jan.kotrbaa@gmail.com>
 - @date 17:24, 7. 4. 2015
*}
{block head}{/block}

{block nav_presenter}Liga{/block}
{block nav_action}Jednotlivá kola{/block}
{block content}
	Jednotliva kola
{/block}

{block script}{/block}