<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">

	<title>{ifset #title}{include title|striptags} | {/ifset}La VIDA Cubana</title>

	<link rel="stylesheet" media="screen,projection,tv" href="{$basePath}/css/screen.css">
	<link rel="stylesheet" media="print" href="{$basePath}/css/print.css">
    <link rel="stylesheet" media="" href="{$basePath}/css/style.css">
	<link rel="shortcut icon" href="{$basePath}/favicon.ico">

    <link href='http://fonts.googleapis.com/css?family=Open+Sans&subset=latin,latin-ext' rel='stylesheet' type='text/css'>

	{block head}{/block}
</head>

<body>
	<script> document.documentElement.className+=' js' </script>

	<div n:foreach="$flashes as $flash" class="flash {$flash->type}">{$flash->message}</div>
	<!--todo-->
	{include content}

	{block scripts}
	<script src="{$basePath}/js/jquery.js"></script>
	<script src="{$basePath}/js/netteForms.js"></script>
	<script src="{$basePath}/js/main.js"></script>
	{/block}
</body>
</html>
