{*
 - @author Jan Kotrba <jan.kotrbaa@gmail.com>
 - @date 15:43, 25. 3. 2015
*}
{block head}{/block}

{block nav_presenter}Aktuálně{/block}
{block nav_action}Přidat aktualitu{/block}
{block content}

{/block}

{block script}{/block}