{block content}

<div class="page">
    <div class="half_part_1">
        <div class="posun">
            <div class="text_coming">
                <h1>Cafe Bar & Coctails & Bowling</h1>
                <h2 n:block="title">Rožnov pod Radhoštěm</h2>
            </div>
            <div class="text_coming_2">
                <p>Stránku připravujeme!</p>
            </div>
        </div>
    </div>
</div>

{/block}