{block content}

<div class="page">
    <div class="half_part_1">
        <div class="posun">
            <div class="text_coming">
                <h1>Cafe Bar & Coctails</h1>
                <h2 n:block="title">Stránka se připravuje!</h2>
            </div>
        </div>
    </div>
</div>

{/block}