{*
 - @author Jan Kotrba <jan.kotrbaa@gmail.com>
 - @date 16:14, 18. 2. 2015
 - @copyright 2015 Jan Kotrba
*}
{block head}{/block}

{block nav_prenenter}{/block}
{block nav_action}{/block}
{block content}
	Lorem ipsum
{/block}

{block script}{/block}