{*
 - @author Jan Kotrba <jan.kotrbaa@gmail.com>
 - @date 10:07, 16. 2. 2015
 - @copyright 2015 Jan Kotrba
*}
{block head}{/block}

{block nav_presenter}Menu{/block}
{block nav_action}Všechny nabídky{/block}
{block content}
	<ul n:inner-foreach="$allMenus as $menu">
		<li>{$menu->name} <a n:href="menu:edit, $menu->id"> <- Upravit</a></li>
	</ul>
{/block}

{block script}{/block}