{*
 - @author Jan Kotrba <jan.kotrbaa@gmail.com>
 - @date 15:37, 25. 3. 2015
*}
{block head}{/block}

{block nav_presenter}Týmy{/block}
{block nav_action}Seznam{/block}
{block content}
	Lorem ipsum
{/block}

{block script}{/block}