<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="theme-color" content="#30363e">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">

	<title>{ifset #title}{include title|striptags} | {/ifset}La VIDA Cubana</title>

    <link rel="stylesheet" media="" href="{$basePath}/Front-End/css/style-bowling.css">
    <link rel="stylesheet" media="" href="{$basePath}/Front-End/css/style-bowling-play.css">
    <link rel="stylesheet" media="" href="{$basePath}/Front-End/css/style-bowling-league.css">

	<link rel="shortcut icon" href="{$basePath}/Front-End/img/favicon.ico">

	{block head}{/block}
</head>

<body>
	<script> document.documentElement.className+=' js' </script>

	<div n:foreach="$flashes as $flash" class="flash {$flash->type}">{$flash->message}</div>

    <div id="page">
           <nav>
               <div class="flexible_content">
                   <h1 class="logo">La VIDA Cubana</h1>
                   <ul class="mainmenu">
                       <li><a n:href="Bowling:default">Všeobecné informace</a></li>
                       <li><a n:href="Bowling:play">Chci si zahrát</a></li>
                       <li><a n:href="Bowling:league">Bowlingová liga</a></li>
                   </ul>
               </div>
           </nav>
           <div class="page_title">
                <div class="flexible_content">
                    <h2 class="page_title_h">{include title}</h2>
                </div>
           </div>

	{include content}

	    <footer>
             <div class="flexible_content">
                 <p class="created">Created by: Kotyslab</p>
             </div>
        </footer>
    </div>

	{block scripts}
	<script src="https://maps.googleapis.com/maps/api/js"></script>
	<script src="{$basePath}/Front-End/js/jquery.min.js"></script>
	<script src="{$basePath}/Front-End/js/jquery-ui.js"></script>
	<script src="{$basePath}/Front-End/js/netteForms.js"></script>
	<script src="{$basePath}/Front-End/js/main.js"></script>
	<script>
        $(function() {
            $( "#tabs" ).tabs();
            $( "#tabs_2" ).tabs();
            $( "#tabs_3" ).tabs();
        });
    </script>
	{/block}
</body>
</html>
