<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="theme-color" content="#30363e">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">

	<title>{ifset #title}{include title|striptags} | {/ifset}La VIDA Cubana</title>

	<link rel="stylesheet" media="screen,projection,tv" href="{$basePath}/Front-End/css/screen.css">
	<link rel="stylesheet" media="print" href="{$basePath}/Front-End/css/print.css">
    <link rel="stylesheet" media="" href="{$basePath}/Front-End/css/style-bowling.css">
    <link rel="stylesheet" media="" href="{$basePath}/Front-End/css/style-bowling-play.css">
    <link rel="stylesheet" media="" href="{$basePath}/Front-End/css/style-bowling-league.css">
	<link rel="shortcut icon" href="{$basePath}/Front-End/img/favicon.ico">

    <link href='http://fonts.googleapis.com/css?family=Open+Sans&subset=latin,latin-ext' rel='stylesheet' type='text/css'>

	{block head}{/block}
</head>

<body>
	<script> document.documentElement.className+=' js' </script>

	<div n:foreach="$flashes as $flash" class="flash {$flash->type}">{$flash->message}</div>

	{include content}

	{block scripts}
	<script src="{$basePath}/Front-End/js/jquery.min.js"></script>
	<script src="{$basePath}/Front-End/js/netteForms.js"></script>
	<script src="{$basePath}/Front-End/js/main.js"></script>
	{/block}
</body>
</html>
