{block title}Pravidla bowlingové ligy!{/block}
{block content}

<div class="greybox_rules">
    <div class="flexible_content">
        <div class="rulesRow">
             <div id="rule">

             </div>
             <div id="rule-2">

             </div>
             <div id="rule-3">

             </div>
        </div>
    </div>
</div>

{/block}