{block title}Top žěbříčky{/block}
{block content}

<div class="greybox_table">
    <div class="flexible_content">
        <div class="topRow">
             <div id="top">

             </div>
             <div id="top-2">

             </div>
             <div id="top-3">

             </div>
        </div>
    </div>
</div>

{/block}