{*
 - @author Jan Kotrba <jan.kotrbaa@gmail.com>
 - @date 15:48, 25. 3. 2015
*}
{block head}{/block}

{block nav_presenter}Informace{/block}
{block nav_action}Pro členy{/block}
{block content}
	Lorem ipsum
{/block}

{block script}{/block}