{*
 - @author Jan Kotrba <jan.kotrbaa@gmail.com>
 - @date 15:44, 25. 3. 2015
*}
{block head}{/block}

{block nav_presenter}Infomrace{/block}
{block nav_action}Otevírací doba{/block}
{block content}
	Lorem ipsum
{/block}

{block script}{/block}